@font-face {
  font-family: 'AcuminProCond';
  src: url(font-path('acumin-pro-extra-condensed-bold.eot'));
  src: url(font-path('acumin-pro-extra-condensed-bold.woff2')) format('woff2'),
  url(font-path('acumin-pro-extra-condensed-bold.woff')) format('woff'),
  url(font-path('acumin-pro-extra-condensed-bold.ttf')) format('truetype'),
  url(font-path('acumin-pro-extra-condensed-bold.eot?#iefix')) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AcuminProLight';
  src: url(font-path('acuminprolight.eot'));
  src: url(font-path('acuminprolight.woff2')) format('woff2'),
  url(font-path('acuminprolight.woff')) format('woff'),
  url(font-path('acuminprolight.ttf')) format('truetype'),
  url(font-path('acuminprolight.eot?#iefix')) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGroteskBold';
  src: url(font-path('spacegrotesk-bold.eot'));
  src: url(font-path('spacegrotesk-bold.woff2')) format('woff2'),
  url(font-path('spacegrotesk-bold.woff')) format('woff'),
  url(font-path('spacegrotesk-bold.ttf')) format('truetype'),
  url(font-path('spacegrotesk-bold.svg')) format('svg'),
  url(font-path('spacegrotesk-bold.eot?#iefix')) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGroteskLight';
  src: url(font-path('spacegrotesk-light.eot'));
  src: url(font-path('spacegrotesk-light.woff2')) format('woff2'),
  url(font-path('spacegrotesk-light.woff')) format('woff'),
  url(font-path('spacegrotesk-light.ttf')) format('truetype'),
  url(font-path('spacegrotesk-light.svg')) format('svg'),
  url(font-path('spacegrotesk-light.eot?#iefix')) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono';
  src: url(font-path('ibmplexmono-semibold.eot'));
  src: url(font-path('ibmplexmono-semibold.woff2')) format('woff2'),
  url(font-path('ibmplexmono-semibold.woff')) format('woff'),
  url(font-path('ibmplexmono-semibold.ttf')) format('truetype'),
  url(font-path('ibmplexmono-semibold.svg')) format('svg'),
  url(font-path('ibmplexmono-semibold.eot?#iefix')) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonoCond';
  src: url(font-path('ibmplexsanscondensed-semibold.eot'));
  src: url(font-path('ibmplexsanscondensed-semibold.woff2')) format('woff2'),
  url(font-path('ibmplexsanscondensed-semibold.woff')) format('woff'),
  url(font-path('ibmplexsanscondensed-semibold-bold.ttf')) format('truetype'),
  url(font-path('ibmplexsanscondensed-semibold.svg')) format('svg'),
  url(font-path('ibmplexsanscondensed-semibold.eot?#iefix')) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonoItalic';
  src: url(font-path('ibmplexmono-semibolditalic.eot'));
  src: url(font-path('ibmplexmono-semibolditalic.woff2')) format('woff2'),
  url(font-path('ibmplexmono-semibolditalic.woff')) format('woff'),
  url(font-path('ibmplexmono-semibolditalic-bold.ttf')) format('truetype'),
  url(font-path('ibmplexmono-semibolditalic.svg')) format('svg'),
  url(font-path('ibmplexmono-semibolditalic.eot?#iefix')) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
