@mixin desktop {
  @media (max-width: 1440px) {
    @content
  }
}
@mixin laptop {
  @media (max-width: 1024px) {
    @content
  }
}
@mixin tablet {
  @media (max-width: 991px) {
    @content
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content
  }
}

@mixin font ($font-family: inherit, $color: initial, $font-size: inherit,
  $letter-spacing: normal, $font-weight: normal, $text-transform: none) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}
@mixin background ($img, $size: cover, $position: center,
  $repeat: no-repeat) {
  background: {
    image: $img;
    position: $position;
    repeat: $repeat;
    size: $size;
  }
}
@mixin center-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin d-flx ($justify-content: intital,
  $align-content: initial, $align-items: initial, $flex-wrap: nowrap) {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: $flex-wrap;
  align-items: $align-items;
  justify-content: $justify-content;
  align-content: $align-content
}
@mixin pos-abs ($top: initial, $right: initial,
  $bottom: initial, $left: initial) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
