//color palette
$background-color: #e2f0df;
$light: #fafafa;
$light-grey: #a5a5a5;
$med-grey: #7d847b;
$dark: #1a1a1a;
$primary: #e55e00;

//fonts
$accent-font: 'SpaceGroteskLight';
$accent-font-b: 'SpaceGroteskBold';
$link-font: 'Mono';
$link-font-i: 'MonoItalic';
$sec-font: 'AcuminProLight';
$sec-font-b: 'MonoCond';

//logos
$sd-logo: image-url('speeddigital.png');
$mtrs-logo: image-url('motorious.svg');;
$mcg-logo: image-url('mcg.png');;
$ac-logo: image-url('ac.png');;
$mgt-logo: image-url('motorgt.png');;
$fchat-logo: image-url('ferrarichat.png');;
$mbase-logo: image-url('motorbase.png');;
