@import 'fonts';
@import 'variables';
@import 'mixins';

html, body {
  height: 100vh;
}

* {
  clear: both;
}
body {
  background-color: $background-color;
  color: $dark;
  margin: 0;
  height: calc(var(--vh, 1vh) * 100);
}
body {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}
h1 {
  margin: 0;
  @include font($accent-font, $dark, 8.2vw);
  line-height: 1.12;
  margin-top: -16vh;
  span.bold {
    font-family: $accent-font-b;
  }
  @include laptop {
    font-size: 10vw;
  }
  @include tablet {
    margin-top: -26vh;
  }
  @include mobile {
    font-size: 10vw;
    margin-top: -20vh;
  }
}
h2 {
  @include font($accent-font-b, $dark, 36px);
  line-height: 1.14;
  margin-bottom: 0;
  @include mobile {
    font-size: 24px;
  }
  &:after {
    content: '';
    width: 116%;
    display: block;
    overflow: hidden;
    margin: 2.6vh -1vw;
    background-color: $dark;
    backface-visibility: hidden;
    min-height: 1px;
    max-height: 1px;
    @include mobile {
      width: 102%;
    }
  }
}
h2.no-border:after {
  display: none;
}
p {
  @include font($sec-font, $dark, 16px);
  line-height: 1.63;
}
a {
  @include font($link-font, $light-grey, 16px, .2px);
  text-decoration: none;
  &.orange {
    color: $primary;
  }
}
.underline {
  text-decoration: underline;
}
.expand {
  visibility: hidden;
  opacity: 0;
  background-color: $opaque;
  width: 16vw;
  min-height: 6vh;
  height: auto;
  border-radius: 6px;
  padding: 1.4vw 1vw 0;
  cursor: pointer;
  min-width: 320px;
  position: fixed;
  bottom: 6vh;
  right: 4vw;
  @include transition(all .3s ease);
  z-index: 99;
  @include tablet {
    bottom: 26vh;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  @include mobile {
    padding-top: 4vw;
    padding-bottom: 2vw;
    bottom: 8vh;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  p {
    min-height: 6vh;
    @include transition(all .3s ease);
    @include font($link-font-i, $primary, 16px, .2px);
    width: 100%;
    margin: 0;
  }
  p.active {
    min-height: 3vh;
  }
  form {
    display: none;
    width: 94%;
    margin: 0 auto 3% auto;
    position: relative;
  }
}
input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
}
input[type="radio"]:checked + label {
  position: relative;
  color: $primary;
  transition: all .3s ease;
  &:after {
    width: 100%;
    right: 0;
  }
}
label {
  background-color: transparent;
  box-shadow: none;
  width: 48%;
  display: inline-block;
  margin: 4px auto;
  padding: 6px 0;
  text-align: center;
  @include font($link-font, $light-grey, 16px, .2px);
  &:after {
    content: '';
    position: absolute;
    left: 0;
    background-image: none;
    height: 4px;
    margin-top: 2px;
    width: 0%;
    background-color: $primary;
    display: block;
  }
}
input[type="text"] {
  background-color: transparent;
  margin: 10px auto 0 auto;
  box-shadow: none;
  padding: 12px 2px;
  min-width: 86%;
  border: 2px solid $light-grey;
  border-radius: 6px;
  @include font($link-font, $primary, 16px, .2px);
  &::placeholder {
    @include font($link-font, $light-grey, 16px, .2px);
    padding: 2px;
  }
  &::focus {
    border: none;
    outline: none;
  }
}
input[type="submit"] {
  width: 10%;
  background-color: transparent;
  color: transparent;
  border: none;
  box-shadow: none;
  opacity: 0;
  display: inline-block;
  cursor: pointer;
  height: 24px;
  @include background(image-url('images/arrow-right.svg'), contain);
  transition: all .4s ease;
  transform: translateX(-4px);
  transition-delay: .2s;
  &.active {
    opacity: 1;
    transform: translateX(4px);
  }
}
.section {
  width: 100vw;
  max-width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  box-sizing: border-box;
  position: relative;
  perspective: 1000px;
  &:first-child {
    padding: 4vh 2vw 2vh 2vw;
    @include mobile {
      padding-top: 6vh;
      padding-bottom: 6vh;
    }
    .reg-link {
      @include pos-abs(initial, 4vw, 10vh);
      width: 16vw;
      min-width: 224px;
      padding: 1.4vw 1vw;
      @include tablet {
        bottom: 20vh;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      @include mobile {
        bottom: 9vh;
      }
    }
  }
  .mb {
    margin-bottom: 6vh !important;
  }
}
.mtrs-logo {
  width: 100%;
  text-align: center;
  display: block;
  max-height: 2vh;
  img {
    width: 112px;
    height: auto;
  }
}
.ta-center {
  text-align: center;
}
.ta-lft {
  text-align: left;
}
.fw {
  width: 100%;
}
.d-flx {
  display: flex;
  flex-wrap: wrap;
  &.evenly {
    justify-content: space-evenly;
  }
}
.bg-num {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 12vh;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  min-height: 186px;
  text-align: center;
  @include transition(all .5s ease);
  transition-delay: .3s;
  transform: translateY(-10vh);
  @include mobile {
    opacity: 0;
    transform: translateY(0vh);
  }
  img {
    height: 66%;
    width: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
  &.grow {
    opacity: .1;
    transform: translateY(0vh);
    @include transition(all .5s ease);
    height: 100%;
    overflow: hidden;
    transition-delay: .5s;
    img {
      height: 66%;
      @include mobile {
        height: 28%;
      }
    }
  }
  &.grow.shrink {
    transform: translateY(88vh);
    width: 100%;
    @include transition(all .5s ease);
    transition-delay: .6s;
    height: 12vh;
    opacity: 1;
    img {
      height: 66%;
      @include mobile {
        height: 28%;
      }
    }
    @include mobile {
      opacity: 0;
    }
  }
}
.section-content {
  @include pos-abs(0, 0, 0, 0);
  width: 34%;
  height: 100%;
  margin: 0 auto;
  max-width: 34%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  @include transition(all .6s ease);
  transition-delay: 4.4s;
  @include tablet {
    width: 60%;
    max-width: 60%;
  }
  @include mobile {
    width: 90%;
    max-width: 90%;
  }
  &--text {
    @include pos-abs(50%);
    transform: translate(0, -50%);
  }
  .section-logo, h2, h2:after, p, .arrow-link {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-4vh);
    @include transition(all .6s ease);
  }
  h2:after {
    @include transition(all .3s ease);
  }
  .stat {
    visibility: hidden;
    opacity: 0;
    @include transition(all .6s ease);
    transition-delay: 1.2s;
  }
  .section-logo {
    transition-delay: .3s;
  }
  h2 {
    transition-delay: .5s;
  }
  h2:after {
    transition-delay: .7s;
  }
  p {
    transition-delay: .9s;
  }
  .arrow-link {
    transition-delay: 1s;
  }
}
.section-logo img {
  max-width: 184px;
}
.section-content.animate {
  visibility: visible;
  opacity: 1;
  transition-delay: 4.4s;
}
.section-content.animate * {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  h2:after {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    height: 1px;
  }
}
.section-content.animate > .section-content--text {
  transform: translate(0, -50%);
}
.arrow-link, .reg-link {
  color: $primary;
  display: block;
  width: 100%;
  min-height: 24px;
  p {
    @include font($link-font, $primary, 16px, .2px);
  }
}
.arrow-link:after {
  content: '';
  @include background(image-url('images/right.svg'));
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-left: 8px;
}
.prev {
  @include pos-abs(12vh);
  @include mobile {
    top: 8vh;
  }
}
.next {
  @include pos-abs(initial, initial, 12vh);
  @include mobile {
    bottom: 4vh;
  }
  &.first {
    @include mobile {
      bottom: 4vh;
    }
  }
}

